body {
  margin: 0px;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

body::-webkit-scrollbar {
  display: none;
}

a {
  color: #67109c;
  font-weight: bolder;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p {
  font-family: Arial, Helvetica, sans-serif;
}

.main__body {
  display: flex;
  flex-direction: row;
}

.main__logo {
  height: auto;
  left: 50px;
  position: absolute;
  top: 20px;
  width: 400px;
}

.hidden {
  display: none;
}

.modal {
  padding: 20px;
  height: auto;
  width: 500px;
}

.modal__demo__login,
.modal h1,
.modal form,
.modal table,
.modal form table,
.modal form table tbody {
  padding-bottom: 15px;
  margin: auto;
  text-align: center;
}

.modal table tbody tr td button {
  margin: auto 10px;
  height: 35px;
  width: 50px;
}

.modal form table tbody tr td input,
.modal form table tbody tr td textarea {
  margin: auto;
  width: 300px;
}

.modal form table tbody tr td input {
  text-align: center;
}

.modal form table tbody tr td label {
  margin: 10px;
  font-weight: bolder;
}

.modal form table tbody tr td select {
  text-align: center;
  width: 100px;
}

.page__cont {
  margin: 130px 200px auto 100px;
  padding: 10px 30px 100px;
  max-width: 1000px;
  width: 70vw;
}

.errors {
  color: red;
  font-size: small;
}
.cards,
.cont {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.cards:hover {
  cursor: pointer;
  scale: 1.03;
}

.card__img {
  height: 160px;
  margin: 10px;
  object-fit: cover;
  width: 260px;
  border-radius: 5px;
}

/* NavBar */
.navbar {
  background-color: #089c4b;
  height: 100vh;
  margin-left: auto;
  margin-right: 0px;
  padding-top: 20px;
  position: fixed;
  right: 0px;
  top: 0px;
  width: 200px;
  z-index: 1;
}

.navbar__user,
.navbar__navlinks {
  margin: auto;
  list-style: none;
}

.navbar__user li,
.navbar__navlinks li {
  padding: 2px 0px;
}
.navbar__user img {
  height: auto;
  width: 100px;
}

.navbar__login__signup a {
  padding: 0px 10px 0px 0px;
}

/* Home Page */
.home__search__cont {
  display: grid;
  grid-template-columns: 600px auto;
  width: 100%;
}

.home__search {
  grid-column: 2;
  margin: 10px 10px 10px 10px;
}

.home__spot__cont {
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(3, 33%);
}

.spot__card {
  display: flex;
  flex-direction: column;
  height: 280px;
  margin: auto;
  width: 280px;
}

.spot__card h2,
.spot__card h4 {
  margin: 10px;
}

.spot__card__details {
  list-style: none;
  margin: 0px 10px;
  padding: 0px;
}

/* Spot Detail Page */
.spot__detail__cont {
  display: flex;
  flex-direction: row;
  height: 300px;
}

.spot__detail__cont img {
  height: 280px;
  object-fit: cover;
  width: 500px;
}

.spot__detail {
  display: flex;
  flex-direction: column;
  margin: 0px 30px;
  width: 500px;
}

.spot__name__list h2,
.spot__detail h3 {
  margin: 0px;
}

.spot__name__list ul {
  margin: 5px 0px;
  padding: 0;
  list-style: none;
}

.spot__actions {
  margin: 10px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.spot__desc {
  overflow: auto;
}

.spot__desc p {
  margin: 5px 0px;
}

.spot__reviews__actions {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0px 10px;
}

.spot__reviews__actions div a {
  margin: 10px;
}

.spot__reviews {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 50%);
}

/* Favorites Page */
.home__favs__cont {
  display: grid;
  gap: 2em;
}

.fav__card {
  display: grid;
  height: 180px;
  gap: 1em;
  grid-template-columns: 30% 70%;
  width: 100%;
}

.fav__card div {
  text-align: left;
  margin: 10px auto 10px 50px;
}

.fav__card__details {
  list-style: none;
  padding: 0px;
  margin-top: 0px;
}

.fav__cont {
  display: grid;
  grid-template-columns: 35% auto;
  gap: 1em;
  height: 80vh;
}

.fav__detail__cont {
  border: solid;
}

.fav__spots__card {
  display: grid;
  height: 180px;
  grid-template-columns: auto auto;
}

.fav__spots__card div {
  margin: auto 5px;
}

.fav__spots__card div p {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
