#modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal-background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

#modal-content {
  position: absolute;
  background-color: white;
  border-radius: 5px;
}

.modal__headers {
  display: grid;
  grid-template-areas: "a b c";
  grid-template-columns: 20px 1fr 20px;
}

.modal__headers h1, .modal__headers h3 {
  grid-area: b;
}

.modal__headers i {
  align-self: baseline;
  justify-self: end;
  grid-area: c;
}

.modal__headers i:hover {
  cursor: pointer;
}
